<footer data-component="footer" data-aem-component="Footer (v1)" class="footer">
  <div class="fixed-width-container footer__container">
    <div class="footer__lg">
      <div class="footer__img-container">
        <svg
          width="58"
          height="44"
          viewBox="0 0 58 44"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M46.3474 0.667969L30.5582 38.3477L22.1885 18.3755L18.2773 27.7068L24.8911 43.4908H36.2219L50.2586 9.99922V43.4908H57.1913V0.667969H46.3474Z"
            fill="white"
          />

          <path
            d="M26.099 0.667969H18.2766L0.332031 43.4908H8.15444L22.1878 9.99922L30.5574 29.9714L34.4686 20.6401L26.099 0.667969Z"
            fill="white"
          />
        </svg>
      </div>

      <div class="footer__items-wrapper">
        <div class="footer__items-container">
          <div class="footer__head">Company</div>

          <ul class="footer__items-list">
            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/about.html"
                class="footer__items-link"
                target=""
                aria-label=""
                >About us</a
              >
            </li>

            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/careers.html"
                class="footer__items-link"
                target=""
                aria-label=""
                >Job openings</a
              >
            </li>

            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/contact.html"
                class="footer__items-link"
                target=""
                aria-label=""
                >Contact us</a
              >
            </li>
          </ul>
        </div>

        <div class="footer__items-container">
          <div class="footer__head">Services</div>

          <ul class="footer__items-list">
            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/services.html"
                class="footer__items-link"
                target=""
                aria-label=""
                >Overview</a
              >
            </li>

            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/services/digital-transformation-services.html"
                class="footer__items-link"
                target=""
                aria-label=""
                >Digital transformation services</a
              >
            </li>

            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/services/enterprise-transformation-services.html"
                class="footer__items-link"
                target=""
                aria-label=""
                >Enterprise transformation services</a
              >
            </li>

            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/services/business-process-services.html"
                class="footer__items-link"
                target=""
                aria-label=""
                >Business process services</a
              >
            </li>

            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/services/cybersecurity-and-privacy-services.html"
                class="footer__items-link"
                target=""
                aria-label=""
                >Cybersecurity and Privacy services</a
              >
            </li>
          </ul>
        </div>

        <div class="footer__items-container">
          <div class="footer__head">Insights</div>

          <ul class="footer__items-list">
            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/insights.html"
                class="footer__items-link"
                target=""
                aria-label=""
                >Overview</a
              >
            </li>

            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/insights/articles.html"
                class="footer__items-link"
                target=""
                aria-label=""
                >Blogs and articles</a
              >
            </li>

            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/insights/impact-stories.html"
                class="footer__items-link"
                target=""
                aria-label=""
                >Case studies</a
              >
            </li>
          </ul>
        </div>

        <div class="footer__items-container">
          <div class="footer__head">Site info</div>

          <ul class="footer__items-list">
            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/privacy.html"
                class="footer__items-link"
                target=""
                aria-label=""
                >Privacy policy</a
              >
            </li>

            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/cookies.html"
                class="footer__items-link"
                target=""
                aria-label=""
                >Cookie policy</a
              >
            </li>

            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/terms-of-use.html"
                class="footer__items-link"
                target=""
                aria-label=""
                >Terms of use</a
              >
            </li>

            <li class="footer__items">
              <a
                href="https://www.mindsprint.org/sitemap.xml"
                class="footer__items-link"
                target=""
                aria-label=""
                >Sitemap</a
              >
            </li>
          </ul>
        </div>
      </div>

      <hr />

      <!-- <hr style="color: aliceblue;"> -->

      <div class="footer__social-media-wrapper">
        <div class="footer__copyright">
          <p>ⓒ All Rights Reserved 2023</p>
        </div>

        <div class="footer__social-media-container">
          <a
            href="https://in.linkedin.com/company/mindsprint"
            target="_blank"
            aria-label=""
          >
            <picture>
              <img
                class="footer__image-link"
                alt="LinkedIn"
                src="https://www.mindsprint.org/content/dam/mindsprint/homepage/homepage-images/Linkedin-logo.svg"
                style="width: 70px; height: 70px"
              />
            </picture>
          </a>
        </div>
      </div>
    </div>
  </div>

  <button class="footer__btnBackToTop" style="display: block">
    <span class="footer__arrow-up"></span>
  </button>

  <!-- OneTrust Cookies Settings button start -->

  <button id="ot-sdk-btn" class="ot-sdk-show-settings">Manage Cookies</button>

  <!-- OneTrust Cookies Settings button end -->
</footer>
