<div class="container">
  <video autoplay loop muted playsinline class="background-video">
    <source
      src="https://www.mindsprint.org/content/dam/mindsprint/homepage/homepage-videos/Brandvideo_1080p.mp4"
      type="video/mp4"
    />
  </video>

  <div class="content">
    <h1>Welcome to MindSprint</h1>

    <p>Learn, Grow, Succeed!</p>

    <a href="https://www.mindsprint.org/"></a>
  </div>
</div>

<div data-component="image-text" class="image-text bg-white">
  <div
    class="fixed-width-container image-text__container image-text__image-first"
  >
    <div
      class="image-text__heading-image-section image-text__image-padding-right"
    >
      <!-- <h6 class="image-text__header">

          Who we are<br />and what we do

        </h6> -->

      <div class="image-text__header">
        <p>Who we are</p>

        <p>and what we do</p>
      </div>

      <div class="image-text__img-container">
        <img
          src="https://www.mindsprint.org/content/dam/mindsprint/homepage/homepage-images/mindsprint-logo-desktop.gif"
          class="image-text__img"
        />
      </div>

      <div id="About" class="container">
        <div
          class="image-text__description image-text__description-padding-left"
        >
          <p class="small-text">
            Businesses are sprinting towards a future very different from the
            one they imagined they would operate in. Speed of change is
            transforming the way we conduct business, how we engage with our
            customers and how we make and distribute products.
          </p>

          <p class="small-text"><b>We are Mindsprint.</b></p>

          <p class="small-text">
            Previously known as Olam Technology and Business Services (OTBS), we
            are a leading-edge technology and business services firm that
            provides impact-driven solutions to businesses, enabling them to
            outpace the speed of change.
          </p>

          <p class="small-text">
            We are powered by deep industry knowledge and a distinctive
            partnership approach. We have a unique portfolio with a legacy of
            proven success stories of transformation across the entire spectrum
            of digital transformation, supply chains, and business operations.
          </p>

          <p class="small-text"><b>We sprint into mindful possibilities.</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
