body {
  font-family: Arial, sans-serif;

  background-color: #add8e6; /* Light blue background color */

  color: #000; /* Text color */

  padding: 20px;
}

h1 {
  text-align: center;

  color: #000; /* Heading color */
}

table {
  width: 100%;

  border-collapse: collapse;

  margin-top: 20px;
}

th,
td {
  padding: 10px;

  text-align: left;

  border-bottom: 1px solid #ddd;
}

th {
  background-color: #222; /* Header background color */

  color: #fff; /* Header text color */
}

td button {
  padding: 5px 10px;

  margin-right: 5px;

  cursor: pointer;
}

td button.approve {
  background-color: #4caf50;

  color: white;

  border: none;
}

td button.reject {
  background-color: #f44336;

  color: white;

  border: none;
}

.status-label {
  font-weight: bold;
}
nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #0e4c57;
  color: white;
  // margin-top: -5px;
  img {
    height: 150px;
    width: 160px;
    margin-top: -40px;
    margin-left: 10px;
  }
  ul {
    list-style: none;
    width: 30%;
    display: flex;
    justify-content: end; //warning
  }
  li {
    margin-right: 30px;
    margin-top: 10px;
  }
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
  }
}
