nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #0e4c57;
    color: white;
    img {
      height: 150px;
      width: 160px;
      margin-top: -40px;
      margin-left: 10px;
    }
    ul {
      list-style: none;
      width: 30%;
      display: flex;
      justify-content: end; //warning
    }
    li {
      margin-right: 30px;
      margin-top: 10px;
    }
    a {
      text-decoration: none;
      color: white;
      font-weight: bold;
      font-size: 15px;
    }
  }
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }

  .form-group input[type="text"],
  .form-group input[type="date"],
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #333;
  }

  .form-group textarea {
    resize: vertical;
    height: 100px;
  }

  .form-group input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }

  .form-group input[type="submit"]:hover {
    background-color: #45a049;
  }