<nav>
  <img src="../../assets/mindsprint-logo.svg" alt="img" />
  <ul>
    <li><a routerLink="/admin/{{this.id}}">Home</a></li>
    <li><a routerLink="/login">logout</a></li>
    <li><a routerLink="/SignUp">SignUp</a></li>
  </ul>
</nav>
<div id="full-item">
  <div class="container">
    <h1 >Add Employee System</h1>
    
    <div class="form">
      <form (ngSubmit)="postEmployees()" action="">
        <input
          type="text"
          name="name"
          placeholder="Enter Name"
          [(ngModel)]="name"
          required
        />
        <input
          type="email"
          name="email"
          placeholder="Enter Email"
          [(ngModel)]="email_Id"
          required
        />
        <input
          type="text"
          name="empId"
          placeholder="Create Employee Id"
          [(ngModel)]="empId"
          required
        />
        <input
          type="text"
          name="number"
          placeholder="Enter Your number"
          [(ngModel)]="phno"
          required
        />
        <input
          type="text"
          name="department"
          placeholder="Enter Department"
          [(ngModel)]="department"
          required
        />

        <input
          type="text"
          name="type"
          placeholder="Employee Type"
          [(ngModel)]="type"
          required
        />
        <input
          type="password"
          name="password"
          placeholder="Create Password"
          [(ngModel)]="password"
        />

        <input type="submit" value="Add Employee" />
      </form>
    </div>
  </div>
</div>
